<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Loja de Produtos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="register-user">Crie sua Conta</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="login-user">Acesse sua Conta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="shopping-cart">Minha cesta de compras</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          &nbsp;&nbsp;
          <a class="btn btn-success btn-sm mt-1" routerLink="checkout">
            <strong>Finalizar Pedido</strong>&nbsp;({{cliente.nome}})
          </a>
        </li>
      </ul>
      <span class="navbar-text">
        Treinamento C# .NET COTI Informatica
      </span>
    </div>
  </div>
</nav>

<div class="mt-4 container">

  <div class="card mb-4" *ngIf="isLoggedIn">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <strong>CLIENTE AUTENTICADO:</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          {{cliente.nome}}
        </div>
        <div class="col-md-3">
          email: {{cliente.email}}
        </div>
        <div class="col-md-2">
          CPF: {{cliente.cpf}}
        </div>
        <div class="col-md-4 text-end">    
          <button class="btn btn-sm btn-outline-primary">
            Ver meu histórico de pedidos
          </button>
          &nbsp;
          <button class="btn btn-sm btn-outline-danger" (click)="logout()">
            Encerrar sessão
          </button>
        </div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>