<div *ngIf="isLoading" class="text-center mt-5">
    <div class="spinner-border" role="status">
    </div>
    <br/>
    <h5>Carregando produtos...</h5>
</div>

<div *ngIf="!isLoading">
    <div class="card mt-3" *ngFor="let item of produtos">
        <div class="card-body">

            <div class="row">
                <div class="col-md-2">
                    <img src="{{item.foto}}" class="img-fluid" />
                </div>
                <div class="col-md-10">
                    <h5>{{item.nome}}</h5>
                    Preço: <strong>{{item.preco | currency: 'R$ '}}</strong>
                    <br />
                    Quantidade disponível: <strong>{{item.quantidade}}</strong>
                    <br /><br />
                    <button class="btn btn-sm btn-outline-secondary" data-bs-target="#modal-detalhes"
                        data-bs-toggle="modal" (click)="obterPorId(item.idProduto)">
                        Ver detalhes
                    </button>
                    &nbsp;
                    <button class="btn btn-sm btn-success"
                        (click)="adicionarItem(item)">
                        Adicionar ao Pedido
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal para exibir detalhes do produto -->
<div id="modal-detalhes" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content" *ngIf="isLoadingItem">
            <div class="modal-body">
                <div class="spinner-border" role="status">
                </div>
                <br/>
                <h5>Carregando produto...</h5>
            </div>
        </div>

        <div class="modal-content" *ngIf="!isLoadingItem">
            <div class="modal-header">
                <h5 class="modal-title">{{produto.nome}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <img src="{{produto.foto}}" class="img-fluid" />
                    </div>
                    <div class="col-md-7">
                        <div class="mt-4">
                            <h5>Preço: <strong>{{produto.preco | currency : 'R$ '}}</strong></h5>
                            Quantidade disponível: <strong>{{produto.quantidade}}</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Fechar</button>
                <button class="btn btn-sm btn-success"
                    (click)="adicionarItem(produto)">
                    Adicionar ao Pedido
                </button>
            </div>
        </div>
    </div>
</div>